/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
 .mwb_wgm_added_wrapper {
 	margin-bottom: 20px ;
 }
 .mwb_wgm_added_wrapper .mwb_wgm_section .mwb_wgc_label {
 	font-size: 14px;
 	font-weight: bold;
 	text-transform: uppercase;
 }
#TB_window {
  left: 0 !important;
  margin: 0 auto !important;
  max-width: 600px !important;
  right: 0 !important;
  top: 10% !important;
  width: 95% !important;
  /*IOS issue(Mobile device)*/
  -webkit-overflow-scrolling: touch!important;
  z-index: 9999999;    
}
#TB_window iframe#TB_iframeContent {
  margin: 0 auto;
  max-width: 600px;
  width: 100% !important;
  height: 480px!important;
}
@media only screen and (max-width: 640px){
  #TB_window > iframe#TB_iframeContent {
  height: 400px !important;
  }
  /*IOS issue(Mobile device)*/
  #TB_window {
   height: 80vh;
   overflow-y: scroll;
 }
}
#mwb_wgm_from_name {
    width: 99%;
}
#mwb_wgm_to_download {
    width: 99%;
}
#mwb_wgm_to_email {
    width: 99%;
}
#mwb_wgm_message {
    width: 99%;
}
/* custom css for redeem iframe*/
.mwb_redeem_embed {
  width: 100%;
  height: 610px;
  display: block;
}