/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #mwb_wgm_setting_wrapper .mwb_wgc_pro_version_wrapper .mwb_wgc_about_pro_version {
 	font-size: 15px;
 	font-weight: bold;
 	line-height: 30px;
 	margin-bottom: 20px;
 	margin-top: 20px;
 	padding: 32px;
 	text-align: center;
 }
 .mwb_wgc_pro_version_image_section img {
 	border: 1px solid #bababa;
 	width: 100%;
 }
 #mwb_wgm_setting_wrapper .mwb_wgc_pro_version_wrapper .mwb_wgc_get_it_button {
 	background-color: black;
 	color: #fff;
 	display: inline-block;
 	padding: 8px 15px;
 	text-decoration: none;
 	font-weight: bold;
 	font-size: 14px;
 }

 #mwb_wgm_setting_wrapper .mwb_wgc_pro_version_wrapper .mwb_wgc_get_it_button:hover{
 	color: #fff;
 }
 #mwb_wgm_setting_wrapper .mwb_wgc_pro_version_wrapper .mwb_wgc_get_it_now {
 	text-align: center;
 	margin-top: 20px;
 }

 #mwb_wgm_setting_wrapper .nav-tab-wrapper .nav-tab{
 	background-color: #0085ba;
 	color: #fff;
 	font-size: 13px !important;
 	margin: 0 0 20px !important;
 }

 #mwb_wgm_setting_wrapper .nav-tab-wrapper .nav-tab.nav-tab-active {
 	background: #fff !important;
 	color: #000 !important;
 }

 #mwb_wgm_setting_wrapper .nav-tab-wrapper{
 	border: 0 !important;
 }

 .mwb_wgm_table_wrapper {
 	border: 1px solid #bababa;
 	padding: 15px;
 	border-radius: 5px;
 	background-color: #fff;
 }
 #mwb_wgm_setting_wrapper .mwb_wgm_table_wrapper .mwb_wgm_general_setting tr:nth-child(2n+1) {
 	background-color: #efefef;

 }
 #mwb_wgm_setting_wrapper .mwb_wgm_table_wrapper .mwb_wgm_general_setting tr label{
 	padding-left: 15px;
 }