/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
 @import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
 * {
    box-sizing: border-box;
}
.mwb_wgm_main_template, .mwb_wgm_main_template p, .mwb_wgm_main_template li {
  font-size: 16px;
}
#mwb_wgm_setting_wrapper{
    font-family: 'Lato', sans-serif;
}
.mwb_wgm_table_wrapper input[type="text"], .mwb_wgm_table_wrapper input[type="email"], .mwb_wgm_table_wrapper input[type="number"] {
    border: 1px solid #dddddd;
    padding: 10px !important;
}
.mwb_wgm_header {
    display: flex;
    background-color: #4F3154;
    color: #ffffff;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 10px solid #ef5350;
}
.mwb_wgm_header_content_left {
    align-items: center;
    display: flex;
    flex: 0 0 35%;
    padding: 20px 15px;
}
.mwb_wgm_header_content_right {
    flex: 0 0 65%;
    padding: 20px 15px;
}
.mwb_wgm_header_content_left .mwb_wgm_setting_title {
    padding: 0;
    color: #ffffff;
    font-size: 20px;
}
.mwb_wgm_header_content_left .notice.notice-success.is-dismissible {
    color: #000;
    margin: 0 0 0 10px;
}
.mwb_wgm_header_content_right ul {
    margin: 0;
    text-align: right;
}
.mwb_wgm_header_content_right ul li {
    display: inline-block;
    margin: 0 10px;
}
.mwb_wgm_header_content_right ul li a {
    color: #cccccc;
    text-decoration: none;
}
.mwb_wgm_header_content_right ul li.mwb_wgm_header_menu_button a {
    display: inline-block;
    background-color: #ef5350;
    font-weight: 600;
    padding: 7px 20px;
    border-radius: 4px;
    color: #ffffff !important;
}


#mwb_wgm_setting_wrapper .mwb_wgc_pro_version_wrapper .mwb_wgc_about_pro_version {
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 18px;
    text-align: left;
    background-color: #f4f4f4;
    border-left: 4px solid #ef5350;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.12);
}
.mwb_wgc_pro_version_image_section img {
  border: 1px solid #bababa;
  width: 100%;
}
#mwb_wgm_setting_wrapper .mwb_wgc_pro_version_wrapper .mwb_wgc_get_it_button {
    background-color: #ef5350;
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
#mwb_wgm_setting_wrapper .mwb_wgc_pro_version_wrapper .mwb_wgc_get_it_button:hover{
  color: #fff;
}
#mwb_wgm_setting_wrapper .mwb_wgc_pro_version_wrapper .mwb_wgc_get_it_now {
  text-align: center;
  margin-top: 20px;
}
#mwb_wgm_setting_wrapper .mwb_wgm_table_wrapper .mwb_wgm_general_setting tr:nth-child(2n+1) {
  background-color: #efefef;
}
#mwb_wgm_setting_wrapper .mwb_wgm_table_wrapper .mwb_wgm_general_setting tr label{
  padding-left: 15px;
}
#mwb_wgm_setting_wrapper .mwb_wgm_table_wrapper .mwb_wgm_product_setting tr label{
  padding-left: 15px;
}
#mwb_wgm_setting_wrapper .mwb_wgm_table_wrapper .mwb_wgm_product_setting tr:nth-child(2n+1) {
    background-color: #efefef;
}
.mwb_wgm_mail_setting_remove_logo_span {
    background-color: #ef5350;
    border-radius: 100%;
    color: #ffffff;
    font-size: 18px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.mwb_wgm_mail_setting_remove_logo {
    display: inline-block;
    position: relative;
}
#mwb_wgm_mail_setting_remove_logo{
    display:none;
    padding: 14px 24px;
}
#mwb_wgm_mail_instruction .hndle {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}
#poststuff .inside {
    margin: 6px 0 0 0;
}
.postbox table.form-table {
    margin-bottom: 0;
}
#mwb_wgm_mail_instruction .inside .form-table tr th {
    padding: 5px 0px !important;
}
.form-table th {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 13px;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
}
.form-table td {
    margin-bottom: 9px;
    padding: 5px 13px;
    line-height: 1.3;
    vertical-align: middle;
}
#mwb_wgm_other_setting_giftcard_html {
    width: 100%;
}
#mwb_wgm_general_setting_giftcard_prefix {
    width: 400px !important;
}
.mwb_wgm_overview_heading {
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}
.mwb_wgm_table_wrapper.mwb_wgm_overview-wrapper p {
    font-size: 16px;
}
.mwb_wgm_video_wrapper iframe {
  width: 100%;
}
#mwb_wgm_mail_instruction .inside {
    padding: 0 !important;
}
#mwb_wgm_setting_wrapper #mwb_wgm_mail_instruction .inside .form-table th, #mwb_wgm_setting_wrapper #mwb_wgm_mail_instruction .inside .form-table td {
    padding: 10px !important;
}
#mwb_wgm_setting_wrapper #mwb_wgm_mail_instruction .inside .form-table tr:nth-child(2n) {
    background-color: #efefef;
}
#mwb_wgm_other_setting_upload_image {
    vertical-align: middle;
}
@media screen and (max-width: 675px) {
  .mwb_wgm_header_content_left,
  .mwb_wgm_header_content_right{
    flex: 0 0 100%;
}
.mwb_wgm_header_content_left {
    padding-bottom: 0;
}
.mwb_wgm_header_content_right ul,.mwb_wgm_header_content_left .mwb_wgm_setting_title {
    text-align: center;
} 
.mwb_wgm_header_content_left .mwb_wgm_setting_title{
    width: 100%;
}
}

.mwb_wgm_body_template {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.mwb_wgm_mobile_nav {
  background: #214460;
  color: #fff;
  display: none;
  text-align: center;
  padding: 15px;
  width: 100%;
}
.mwb_wgm_mobile_nav .dashicons {
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  height: 30px;
  width: 30px;
}
.mwb_wgm_navigator_template {
  display: block;
  flex: 0 0 20%;
}
.mwb_wgm_content_template {
  box-shadow: -1px -5px 4px 2px rgba(0,0,0,.05);
  color: #555d66;
  font-size: 16px;  
  flex: 0 0 80%;
  padding: 10px 30px 10px 40px;
  position: relative;
  line-height: 28px;
}
.mwb_wgm_tabs {
    position: relative;
}
.nav-tab {
  border:1px solid transparent;
}
.mwb_wgm_tabs .nav-tab-active, .mwb_wgm_tabs .nav-tab-active:focus, .mwb_wgm_tabs .nav-tab-active:focus:active, .mwb_wgm_tabs .nav-tab-active:hover {
    background: #ef5350;
    color: #fff !important;
    display: block;
}
.mwb_gw_nav_tab {
  background-color: #fff;
  color: #2b5d89;
  display: block;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 22px;
  padding: 20px 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 0;
  float:none;
}
.mwb_wgm_tabs .nav-tab-active:after {
    right: 0;
    border: 8px solid transparent;
    content: "";
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fff;
    top: 50%;
    margin-top: -8px;
    z-index: 2;
}
.mwb_gw_nav_tab:hover {
  color: #2b5d89;
}
.mwb_gw_nav_tab:focus, .mwb_gw_nav_tab:hover {
  box-shadow: none;
}

@media only screen and (max-width: 782px){
  .mwb_wgm_mobile_nav {
    display: block;
    background-color: #4F3154;
  }
  .mwb_wgm_navigator_template, .mwb_wgm_content_template{
      flex: 0 0 100%;
  }
  .mwb_wgm_content_template {
    box-shadow: none;
    margin-top: 5px;
    padding: 10px 15px 40px;
  }
  .mwb_wgm_header_content_left div {
    margin: 0 auto;
}
  .mwb_wgm_navigator_template {
    display: none;
  }
}
.mwb_wgm_header_content_right ul li:first-child .dashicons.dashicons-phone {
transform: rotate(90deg);
}



    .mwb_redeem_main_content{
      margin-bottom: 70px;
    }
    .text-left{
      text-align: left;
    }
    table.mwb_redeem_details {
      -moz-box-shadow: 0 23px 83px rgba(0, 0, 0, 0.16);
      -ms-box-shadow: 0 23px 83px rgba(0, 0, 0, 0.16);
      -o-box-shadow: 0 23px 83px rgba(0, 0, 0, 0.16);
      -webkit-box-shadow: 0 23px 83px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      box-shadow: 0 23px 83px rgba(0, 0, 0, 0.16);
      margin: 40px 0 60px 0;
      overflow: hidden;
      width: 100%;
    }
    .mwb-reedem-video video {
        max-width: 100%;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .mwb-reedem-video {
      margin-bottom: 60px;
    }
    table.mwb_redeem_details thead {
      background-color: #ef5350;
      color: #ffffff;
    }
     table.mwb_redeem_details tbody th {
      width: 200px;
    }
    .mwb-readem-work-listing {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: -15px;
      margin-right: -15px;
    }
    .text-left {
      text-align: left;
    }
    .mwb-readem-work-listing li {
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 33.333%;
    }
    .mwb-readem-work-listing li i {
      color: #ef5350;
      margin-right: 7px;
      vertical-align: middle;
    }
    .mwb_redeem_listing {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -15px 70px -15px;
    }
    .mwb_redeem_listing .mwb_redeem_item {
      flex: 0 0 25%;
      margin-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
    }
    .mwb_redeem_arrow {
      color: #ef5350;
      font-size: 31px;
      margin-left: auto;
      margin-right: 0;
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
    .mwb_redeem_content {
      align-items: center;
      border-radius: 4px;
      box-shadow: 1px 2px 10px rgba(0 ,0,0,0.1);
      color: #ffffff;
      display: flex;
      font-size: 20px;
      justify-content: center;
      min-height: 70px;
      padding:10px;
      text-align: center;
    }
    .mwb_redeem_item.scan .mwb_redeem_content{
      background-color: #e0a944;
    }
    .mwb_redeem_item.redeem  .mwb_redeem_content{
      background-color: #ef5350;
    }
    .mwb_redeem_item.recharge .mwb_redeem_content{
      background-color:#0cb6ef;
    }
    .mwb_redeem_item.reports .mwb_redeem_content{
      background-color: #4bc74b;
    }
    .text-center{
      text-align: center;
    }
    .mwb_redeem_div_wrapper .generate_link,
    input#wcgm_generate_offine_redeem_url,
    input.remove_giftcard_redeem_details,
    .mwb_gw_open_redeem_link,.update_giftcard_redeem_details{
      background-color: #ef5350;
      color: #ffffff;
      padding: 17px 30px;
      display: inline-block;
      text-decoration: none;
      margin-top: 15px;
      border-radius: 4px;
      border: 2px solid #ef5350;
      text-transform: capitalize;
      font-size: 16px;
      cursor: pointer;
      line-height: 1.4;
    }
    .mwb_redeem_details .remove_giftcard_redeem_details,
    .mwb_gw_open_redeem_link{
      margin-right: 15px;
    }
    input#wcgm_generate_offine_redeem_url{
     padding: 10px 20px;
   }
   .mwb_giftware_reddem_link_wrapper {
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .mwb_giftware_reddem_link_wrapper span {
    display: block;
    width: 223px;
    margin: 0 auto;
  }
  .mwb_redeem_div_wrapper .generate_link {
    box-shadow: 0 4px 11px rgba(145, 92, 182, .55),0 -2px 0 rgba(0,0,0,0.2) inset;
    font-size: 15px;
    font-weight: 600;
    left: 0;
    margin: 0 auto;
    padding: 12px;
  }
  .mwb-giftware-reddem-image.text-center {
    position: relative;
  }
  .mwb-giftware-reddem-image img {
    max-width: 100%;
    width: auto;
  }
  .mwb_redeem_div_wrapper .generate_link:hover, .mwb_redeem_div_wrapper .generate_link:focus{
    outline: 0;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 7px 21px rgba(145, 92, 182, .55),0 -2px 0 rgba(0,0,0,0.2) inset;
  }
  a.mwb_gw_open_redeem_link{
    background-color: #ffffff;
    color: #ef5350;
  }
  input#wcgm_generate_offine_redeem_url:hover,input#wcgm_generate_offine_redeem_url:focus,
  input.remove_giftcard_redeem_details:hover,input.remove_giftcard_redeem_details:focus,
  .update_giftcard_redeem_details:hover, .update_giftcard_redeem_details:focus{
    background-color: #ffffff;
    color: #333333;
    outline: 0;
    box-shadow: none;
  }
  .mwb_gw_open_redeem_link:hover,.mwb_gw_open_redeem_link:focus{
    background-color: #4F3154;
    color: #ffffff;
    box-shadow: none;
    outline: 0;
    border-color: #4F3154;
  }
  .mwb_redeem_registraion_div .mwb_gw_general_setting {
    max-width: 767px;
    margin: 0 auto;
    position: relative;
  }
  .mwb-redeem-pop-close {
    background-color: #eeeeee;
    border-radius: 50%;
    color: #ef5350;
    display: inline-block;
    height: 30px;
    position: absolute;
    right: -13px;
    text-align: center;
    top: -23px;
    width: 30px;
    cursor: pointer;
  }
.mwb_redeem_registraion_div .mwb_gw_general_setting tr:nth-child(2n+1) {
    background: #efefef none repeat scroll 0 0;
}
.mwb_redeem_registraion_div .mwb_gw_general_setting tr:nth-child(2n) {
  background-color: #ffffff;
}
.mwb_redeem_registraion_div .mwb_gw_general_setting th {
  padding-left: 10px;
}
  .mwb_redeem_registraion_div {
    position: fixed;
    background-color: rgba(0,0,0,0.55);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 999999;
  }
  .mwb_redeem_registraion_div .mwb_gw_general_setting input[type="email"],
  .mwb_redeem_registraion_div .mwb_gw_general_setting input[type="text"]{
    padding: 10px !important;
    width: 95% !important;
  }
  .mwb_redeem_details {
    border-collapse: collapse;
    margin-top: 20px;
  }
  .mwb_redeem_details td, .mwb_redeem_details th {
    padding: 15px;
  }
  #mwb_gw_setting_wrapper table.mwb_redeem_details thead th {
    font-size: 20px;
    padding: 20px;
  }
  #mwb_gw_setting_wrapper * {
    box-sizing: border-box;
  }
  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }
  .mwb_redeem_details tbody th{
    text-align: left;
  }
  .mwb_redeem_details td textarea, .mwb_redeem_details td input[type="text"] {
    width: 92%;
    padding: 10px;
    vertical-align: middle;
    background-color: transparent;
  }
  .mwb-giftware-copy-icon {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }
  .mwb-giftware-copy-icon button {
    background-color: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .mwb_redeem_details td textarea:focus, .mwb_redeem_details td input[type="text"]:focus{
    border-color: #ffffff;
  }
  .mwb_gw_admin_notices {
    display: flex;
    background-color: #4F3154;
    color: #ffffff;
    border-left-color: #ef5350;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.mwb_gw_admin_notices p {
  margin: 5px 0;
}
.mwb_gw_admin_notices a {
  color: #ffffff;
  font-weight: 600;
  margin-left: 10px;
}
.mwb_gw_admin_notices p ~ a {
  font-weight: normal;
  font-size: 13px;
}

.mwb_gw_new_badge {
  background-color: #4F3154;
  border-radius: 6px;
  box-shadow: 3px 0 7px rgba(0,0,0,0.3);
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 40px;
  padding: 1px 7px;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -11px;
}

  /* ======== LOADER CSS =======*/
  #mwb_wgm_loader {
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
  }
  #mwb_wgm_loader img {
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 40%;
  }
/*======================================
=             media query            =
======================================*/
@media only screen and (max-width:768px){
  tbody.mwb_gw_thankyouorder_tbody {
    display: block;
    overflow: scroll;
  }
  .mwb_salebooster_wrapper {
    margin-bottom: 25px;
  }
  .mwb_table {
   width: 100%;
   float: none;
   padding: 5px;
 }
 .mwb_table .mwb_gw_other_setting td {
  padding: 6px;
}
.mwb_salebooster_wrapper {
  float: none;
  max-width: 100%;
  width: 100%;
}
.mwb_salebooster_adds{
  height:344px!important;
}
}
@media only screen and (max-width: 1200px) {
  table.wp-list-table.widefat.fixed.striped.woocommerce_page_mwb-gw-setting {
    display: block;
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 767px) {
  tr.mwb_gw_pdf_deprecated_row td:nth-child(1n) {
    width: 0px !important;
  }
  tr.mwb_gw_pdf_deprecated_row td {
    width: 100% !important;
    display: table-cell;
  }
  table.form-table.mwb_gw_offline_gift_to tr td textarea#mwb_gw_offline_gift_message {
    width: 100%;
  }
  tbody.mwb_gw_thankyouorder_tbody td.forminp.forminp-text {
    max-width: 130px;
  }
  tbody.mwb_gw_thankyouorder_tbody td.forminp.forminp-text input {
    width: 100%;
  }
  .mwb-readem-work-listing li{
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  input.mwb_gw_new_woo_ver_style_text {
    width: 100% !important;
    display: inline-block;
  }
  table.mwb_qrcode.form-table.mwb_gw_general_setting {
    width: 500px !important;
  }
  .mwb_table.mwb_table_full_width {
    max-width: 500px !important;
    display: block !important;
    overflow-x: scroll !important;
    width: 100%;
  }
  table.form-table.mwb_gw_general_setting, table.mwb_shippingaddon.form-table.mwb_gw_general_setting, table.mwb_barcode.form-table.mwb_gw_general_setting {
    width: 500px !important;
  }
  table.form-table.mwb_gw_thankyouorder_setting.wp-list-table.widefat.striped {
    width: 500px;
    overflow-x: scroll;
    display: block;
  }
  table.form-table.mwb_gw_offline_gift_to tr td textarea#mwb_gw_offline_gift_message {
    width: 100%;
  }
  .mwb_table.mwb_table_full_width td.forminp.forminp-text label {
    width: 100%;
    display: block;
  }
  .mwb_redeem_details, .mwb_redeem_details tr,.mwb_redeem_details th,.mwb_redeem_details td,.mwb_redeem_details tbody , .mwb_redeem_details tr ,.mwb_redeem_details thead{
    display: block;
  }
  .mwb_redeem_details td, .mwb_redeem_details th {
    padding: 3px 15px;
  }
  #mwb_gw_setting_wrapper table.mwb_redeem_details tbody th{
    width: 100%;
  }
  .mwb_redeem_details td textarea, .mwb_redeem_details td input[type="text"]{
    width:78%;
  }
}
@media only screen and (max-width: 782px){
  .mwb_wgm_mobile_nav {
    display: block;
    background-color: #4F3154;
  }
  .mwb_wgm_navigator_template, .mwb_wgm_content_template{
    width: 100%;
  }
  .mwb_wgm_content_template {
    box-shadow: none;
    margin-top: 5px;
    padding: 10px 15px 40px;
  }
  .mwb_wgm_navigator_template {
    display: none;
  }
  #mwb_gw_setting_wrapper input[type="radio"]:checked::before {
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: 4px;
  }
  #mwb_gw_setting_wrapper input[type="checkbox"]:checked::before {
    font: normal 21px/1 dashicons;
  }
}
@media only screen and (max-width: 650px){
  .mwb_wgm_header_content_left,.mwb_wgm_header_content_right{
    flex: 0 0 100%;
    justify-content: center;
  }
  .mwb_wgm_header_content_left {
    padding-bottom: 0;
  }
  .mwb_wgm_header_content_right ul{
    text-align: center !important;
  }
  .mwb_redeem_listing .mwb_redeem_item{
    flex: 0 0 100%;
    margin-bottom: 40px;
  }
  .mwb_redeem_arrow {
    left: 0;
    margin: 0 auto;
    right: 0;
    transform: rotate(90deg);
    bottom: -163px;
    top: auto;
  }
  .mwb_wgm_header_content_right ul li:first-child{
    width: 100%;
    margin: 0 0 15px 0;
  }
  .mwb_wgm_header_content_right ul li{
    margin: 0 3px;
  }
}
  @media only screen and (max-width: 576px){
    .mwb-giftware-reddem-image img{
      display: none;
    }
    .mwb_giftware_reddem_link_wrapper {
      position: static;
      transform: none;
      margin-top: 30px;
      border: 3px dashed #333;
      padding: 10px;
      border-radius: 6px;
    }
    .mwb-giftware-reddem-image.text-center {
      height: 140px;
    }
    .mwb_redeem_listing{
      margin: 0 -15px 0 -15px;
    }
    .mwb_redeem_listing .mwb_redeem_item:last-child {
      margin-bottom: 10px;
    }
    .mwb-reedem-video {
      margin: 60px 0;
    }
  }

/*=====  End of  media query  ======*/
.mwb_gw_new_badge {
  background-color: #4F3154;
  border-radius: 6px;
  box-shadow: 3px 0 7px rgba(0,0,0,0.3);
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 40px;
  padding: 1px 7px;
  position: absolute;
  right: 16px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

/*css for wp editor text area*/
.mwb_wgm_new_woo_ver_style_textarea{
      width: 100% !important;
    }
/*css for email upload default event*/
.mwb_wgm_mail_setting_remove_background {
  display: inline-block;
  position: relative;
}
#mwb_wgm_mail_setting_remove_background {
  display:none;
}
.mwb_wgm_mail_setting_remove_background_span {
    background-color: #ef5350;
    border-radius: 100%;
    color: #ffffff;
    font-size: 18px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.mwb_wgm_mail_setting_tab{
  background-color: #ef5350;
  color: #ffffff;
  margin: 9px 0 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
#mwb_wgm_mail_setting_wrapper{
  display:none;
}
/*custom css for preview template of giftcard post*/
#TB_window iframe#TB_iframeContent {
  margin: 0 auto;
  
  width: 100% !important;
  height: 480px!important;
}
#mwb_wgm_email_template + span{
  width: 50% !important;
}
.select2-container.select2-container-multi.mwb_wgm_email_template {
 width: 50% !important;
}
.submit.mwb_wgm_email_template {
  width: 100%;
}

/*css for general setting tab additional info display */
.mwb_uwgc_additional_info {
    font-size: 19px;
    padding-left: 24px;
}
#mwb_uwgc_customize_remove_email_template_image_para{
  display:none;
}
#mwb_uwgc_customize_remove_giftcard_para{
   display:none;
}
#mwb_wgm_mail_setting_remove_background {
    margin-left: 39px;
    margin-top: 10px;
}
.mwb_wgm_redeem_link {
    background-color: #ef5350;
    color: #ffffff !important;
    padding: 11px 16px;
    position: relative;
    font-size: 16px;
    border-radius: 4px;
    display: inline-block;
}
.mwb_wgm_redeem_link span {
    background-color: #f1cb32;
    padding: 5px 12px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    margin-right: 4px;
    font-weight: bold;
    color: #000000 !important;
}